@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

.autopart-card-body {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 75px;
}

h3 {
    margin: 10px 0;
}

.delete-button {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 25px;
    right: 25px
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: #604880;
    border-radius: 50px; /* Значение радиуса, половина от ширины/высоты элемента */
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #B3B8CD;
    padding: 10px;
    position: relative;
    width: 50%;
    max-width: 100%;
    text-align: center;
}


/*.card-container .pro {*/
/*    color: #231E39;*/
/*    background-color: #FEBB0B;*/
/*    border-radius: 8px;*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    padding: 3px 7px;*/
/*    position: absolute;*/
/*    top: 30px;*/
/*    left: 30px;*/
/*}*/

.card-container .round {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10%;
    padding: 7px;
    width: 600px;
    height: 300px;
    object-fit: cover
}

button.primary.ghost {
    background-color: #7d00ff;
    margin-top: 30px;
    color: #231E39;
}

button.primary {
    margin-top: 20px;
    background-color: #7d00ff;
    /*border: 1px solid #03BFCB;*/
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    margin-right: 10px;
}
.skills {
    background-color: #1F1A36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.card-container p {
    margin: 10px 0;
    letter-spacing: 2px; /* Интервал между буквами */
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
}


footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
