.breadcrumbs-container {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    padding: 0 9%;
    margin-top: 20px;
}

.separator {
    display: flex;
    align-items: center;
    margin: 0 8px;
    color: #3b3b3b;
}

.breadcrumb {
    color: #604880;
    cursor: pointer;
}

.breadcrumb:hover {
    color: #ffffff;
    cursor: pointer;
}
