.city-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-container {
    text-align: center;
    max-width: 400px;
    background-color: #000d31;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px; /* Закругление углов */
}


.round {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
}

h3 {
    margin-bottom: 8px;
}

.buttons {
    margin-top: 16px;
}

.primary {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Добавим стили для кнопки "Назад" */
